In [1]:
a = {}
a['a'] = 'Apple'
a['b'] = 'Ball'
a['c']= 'Cat'
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [2]:
a = {}
n = int(input("enter n = "))
for i in range (n):
    name = input("Enter name = ")
    phone = int(input("enter your phone number = "))
    a[name] = phone
    
print(a)

enter n = 2
Enter name = ram
enter your phone number = 9847746776743
Enter name = shyam
enter your phone number = 8319938233
{'ram': 9847746776743, 'shyam': 8319938233}

In [3]:
a['ram']

9847746776743

In [5]:
a = {'ram': 9847746776743, 'shyam': 8319938233, 'hari' : 934723284}
for i in a.values():
    print(i)

9847746776743
8319938233
934723284

In [6]:
a = {'ram': 9847746776743, 'shyam': 8319938233, 'hari' : 934723284}
for i in a.items():
    print(i)

('ram', 9847746776743)
('shyam', 8319938233)
('hari', 934723284)

In [8]:
a

{'ram': 9847746776743,
 'shyam': 8319938233,
 'hari': 934723284,
 'Gita': 9847327634}

In [9]:
a = {'ram': 9847746776743, 'shyam': 8319938233, 'hari': 934723284, 'Gita': 9847327634}
b = { 'Sita': 9848249121}
a.update(b)
print(a)

{'ram': 9847746776743, 'shyam': 8319938233, 'hari': 934723284, 'Gita': 9847327634, 'Sita': 9848249121}

In [14]:
a = {'ram': 9847746776743, 'shyam': 8319938233, 'hari' : 934723284}
b = a.pop('ram')
print(b)
print(a)

9847746776743
{'shyam': 8319938233, 'hari': 934723284}

In [ ]:
a = {'name':['ram', 'shyam', 'hari'],
     'age':[43, 45, 67],
     'address':['ktm','bkt','lalitpur']}
a

In [ ]:
a = {}
n = int(input("enter n= "))
for i in range(n):
    name= input("enter name= ")
    ntc= int(input("enter ntc number= "))
    ncell= int(input("enter ncell= "))
    a[name] = [ntc,ncell]
    
print(a)

In [ ]:
a = {'name':[], 'age':[], 'address':[]}
n = int(input("enter n= "))
for i in range(n):
        name= input("enter name= ")
        age= int(input("enter age= "))
        address= input("enter address= ")
        a['name'].append(name)
        a['age'].append(age)
        a['address'].append(address)
        
print(a)

In [ ]:
a = {'name': ['ram', 'shyam'], 'age': [32, 43], 'address': ['ktm', 'bkt']}
print("Name = ",a['name'][0])
print("age = ",a['age'][0])
print("Address = ",a['address'][0])

In [ ]:
a = {'name':[], 'age':[], 'address':[]}
n = int(input("enter n= "))
for i in range(n):
    index = n + 1:
        name= input("enter name= ")
        age= int(input("enter age= "))
        address= input("enter address= ")
print("His name is ",a['name'][index],".He is a ",a['age'][index]," years old man who lives in ",a['address'][index],".")

In [ ]:
a = {'name': ['ram', 'shyam'], 'age': [32, 43], 'address': ['ktm', 'bkt']}
k = list(a.keys())
print(k)
index = int(input("enter index= "))
for i in a:
    del a[k][index]