In [1]:
#method

#class<class_name2>(<class_name1>):
#    <methods>
    
    
#obj = <class_name2>()

In [2]:
class A:           #parent class
    pass

class B:           #child class
    pass

obj = B()

In [9]:
class Data:
    def __init__(s,name,age,add):
        s.name= name
        s.age = age
        s.add = add
        
        
    def data(s):
        print(s.name,s.age,s.add)
        
class Info(Data):
    def info(s):
        
        print(f"Hello world I am {s.name}. I am {s.age} years old. I am from {s.add}." )
        
name= input("enter name= ")
age= int(input("enter age= "))
add= input("enter address= ")      
obj = Info(name,age,add)
obj.info()
obj.data()

enter name= ram
enter age= 23
enter address= tinkune

TypeError: Data.__init__() takes 1 positional argument but 4 were given

In [8]:
class Data:
    def __init__(s,name,age,add):
        s.name= name
        s.age = age
        s.add = add
        
        
    def data(s):
        print(s.name,s.age,s.add)
        
class Info(Data):
    def info(s):
        
        print(f"Hello world I am {s.name}. I am {s.age} years old. I am from {s.add}." )
        
name= input("enter name= ")
age= int(input("enter age= "))
add= input("enter address= ")      
obj = Info(name,age,add)
obj.info()
obj.data()

enter name= ram
enter age= 23
enter address= ktm
Hello world I am ram. I am 23 years old. I am from ktm.
ram 23 ktm

In [16]:
class Data:
    def __init__(s,add):
        s.add= add
        
    def data(s):
        print(s.add)

        
class Info(Data):
    def __init__(s,name,age,add):
        s.name= name
        s.age = age
        Data._init_(s,add)

def info(s):
    print(f"Hello world I am {s.name}. I am {s.age} years old. I am from {s.add}." )
        
name= input("enter name= ")
age= int(input("enter age= "))
add= input("enter address= ")      
obj = Info(name,age,add)
obj.info()
obj.data()

enter name= ram
enter age= 23
enter address= dfs

AttributeError: type object 'Data' has no attribute '_init_'

In [15]:
#multilevel

class A:
    pass

class B(A):
    pass

class C(B):
    pass

obj = C()

In [13]:
#multiple

class A:
    pass

class B(A):
    pass

class

SyntaxError: invalid syntax (3305225294.py, line 3)

In [21]:
class Age:
    def __init__(s,age):
        s.age = age
    def my_age(s):
        print(s.age)
    

class Data(Age):
    def __init__(s,age,add):
        s.add= add
        Age.__init__(s,age)
        
        
    def data(s):
        print(s.add)

        
class Info(Data):
    def __init__(s,name,age,add):
        s.name = name
        Data.__init__(s,age,add)

    def info(s):
        print(f"Hello world I am {s.name}. I am {s.age} years old. I am from {s.add}." )
        
name= input("enter name= ")
age= int(input("enter age= "))
add= input("enter address= ")      


obj = Info(name,age,add)
obj.info()
obj.data()
obj.my_age()

enter name= ram
enter age= 23
enter address= tkm
Hello world I am ram. I am 23 years old. I am from tkm.
tkm
23

In [66]:
class Info:
    def __init__(s):
        s.__name = "Ram"
        s.__age = 23
        s.__add = "kathmandu"
        
obj = Info()
print(obj.__name)
print(obj.__age)
print(obj.__add)

AttributeError: 'Info' object has no attribute '__name'

In [19]:
class Data:
    def __init__(self):
        self.name = "Ram"
        self._age = 23
        self.__add = "kathmandu"
        
    def data(self):
        print(f"Hello world I am {self.name}. I am {self._age} years old. I am from {self.__add}." )
        
class Info(Data):
    def info(self):
        print(f"Hello world I am {self.name}. I am {self._age} years old.")
        
obj = Info()
obj.info()
obj.data()
print(obj.name)

Hello world I am Ram. I am 23 years old.
Hello world I am Ram. I am 23 years old. I am from kathmandu.
Ram

In [17]:
class Data:
    def __init__(self):
        self.name = "Ram"
        self._age = 23
        self.__add = "kathmandu"
        
    def my_add(self):
        return self.__add
        
    def data(self):
        print(f"Hello world I am {self.name}. I am {self._age} years old. I am from {self.__add}." )
        
class Info(Data):
    def info(self):
        print(f"Hello world I am {self.name}. I am from {super().my_add()}. I am {self._age} years old.")
        
obj = Info()
obj.info()
obj.data()
print(obj.name)

Hello world I am Ram. I am from kathmandu. I am 23 years old.
Hello world I am Ram. I am 23 years old. I am from kathmandu.
Ram

In [31]:
print("COMPARISON BETWEEN PENGUIN AND PARROT\n")
class Parrot:
    def fly(s):
        print("parot can fly")
    def swim(s):
        print("parrot can't swim")
        
class Penguin:
    def fly(s):
        print("Penguin can't fly")
    def swim(s):
        print("Penguin can swim")
        
#"common interface"
def flying_test(bird):
    bird.fly()
    
def swimming_test(bird):
    bird.swim()

print("Who can fly and who can't ?")   
#instantiate object
blu = Parrot()
peggy = Penguin()
#paassing the object
flying_test(blu)
flying_test(peggy)
print("\nWho can swim and who can't ?")
swimming_test(blu)
swimming_test(peggy)

COMPARISON BETWEEN PENGUIN AND PARROT

Who can fly and who can't ?
parot can fly
Penguin can't fly

Who can swim and who can't ?
parrot can't swim
Penguin can swim

In [38]:
#str method
class Info:
    def __init__(s):
        s.name = "Ram"
        s.age = 23
        s.add = "kathmandu"
        
    def __str__(s):
        return s.name
        
        
obj = Info()
print(obj)

Ram

In [45]:
class Info:
    def __init__(s):
        s.name = "Ram"
        s.age = 23
        s.add = "kathmandu"
        
    def __str__(s):
        return s.name
        
    
        
        
obj = Info()
print(obj)
print(str(obj))
print(obj.__str__())

Ram
Ram
Ram

In [61]:
#operator overloading
class Point:
    def __init__(s, x=0):
        s.x = x
        print("this is init method",s.x)
        
        
    def __str__(s):
        return "({0})".format(s.x)
        print("this is str method",s.x)
    
    def __add__(s,other):
        x = s.x + other.x
        print("this is add method",x)
        return Point(x)
    
p1 = Point(3)
p2 = Point(7)
p3 = Point(5)
print(p1+p2+p3)

this is init method 3
this is init method 7
this is init method 5
this is add method 10
this is init method 10
this is add method 15
this is init method 15
(15)

n = int(input("enter n= "))
for i in range (n):
    
    a = int(input("enter any number= "))
    b = int(input("enter any number= "))
print("the sum is",a+b)