In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./anaconda3/lib/python3.11/site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",

database = "python_class_8_am"
)
db = database.cursor()

In [6]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Aayush', 100, 98, 99, 92, 90, 479, 96.0, 'A+')
(4, 'Hari', 98, 82, 100, 70, 60, 410, 80.0, 'B')
(5, 'Shyam', 11, 31, 29, 63, 57, 191, 38.0, 'F')
(18, 'Ram', 82, 86, 87, 81, 83, 419, 83.0, 'A+')
(21, 'Gita', 76, 79, 67, 86, 86, 394, 78.0, 'B')
(23, 'Sita', 56, 47, 86, 96, 43, 328, 65.0, 'C')

In [10]:
db.execute("SELECT sn,name,total,grade FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Aayush', 479, 'A+')
(4, 'Hari', 410, 'B')
(5, 'Shyam', 191, 'F')
(18, 'Ram', 419, 'A+')
(21, 'Gita', 394, 'B')
(23, 'Sita', 328, 'C')

In [12]:
sql = '''INSERT INTO `student` (`sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`, `total`, `per`, `grade`) VALUES (40, 'Hary', 89, 89, 89, 78, 87, 412, 83.0, 'A'),(10, 'Sameer', 89, 67, 80, 98, 89, 412, 82.5, 'A'),(3, 'Nabin', 82, 84, 85, 98, 89, 430, 88.5, 'A'),(9, 'Rama', 89, 98, 85, 67, 89, 420, 82.5, 'A'),(17, 'Shiva', 49, 57, 25, 98, 89, 400, 70.0, 'A'),(14, 'Gauri', 98, 78, 90, 87, 78, 431, 86.2, 'A');'''
db.execute(sql)
database.commit()
print(db.rowcount, "record inserted.")

6 record inserted.