In [3]:
t = ("apple",)
type(t)

tuple

In [4]:
t = ()
n = int(input("enter n= "))
for i in range(n):
    x = int(input("enter x= "))
    t = t + (x,)
print(t)

enter n= 3
enter x= 23
enter x= 32
enter x= 31
(23, 32, 31)

In [5]:
b = ("apple","ball","cat")

In [8]:
#tupple inside tupple
info = ()
n = int(input("enter n= "))
for i in range(n):
    name= input("enter name= ")
    age= int(input("enter age= "))
    add= input("enter address= ")
    info = info + ((name,age,add),)
print(info)

enter n= 2
enter name= ram
enter age= 32
enter address= bktr
enter name= shyam
enter age= 23
enter address= ktm'
(('ram', 32, 'bktr'), ('shyam', 23, "ktm'"))

In [14]:
a = {"Apple","Ball","cat","dog","fish"}
print(a)

{'Ball', 'cat', 'dog', 'Apple', 'fish'}

In [15]:
a = {"Apple","Ball","cat","dog","fish","Apple","fish","dog"}
print(a)

{'Ball', 'cat', 'dog', 'Apple', 'fish'}

In [1]:
a = {'Ball', 'cat', 'dog', 'Apple', 'fish'}
a.remove("Apple")
print(a)

{'cat', 'dog', 'Ball', 'fish'}

In [34]:
#set for math
u = {"ram","shyam","hari","sita","gita","laksman","araniko","budha","janak","araniko","ram","sita","janka","krishna","balram"}
a = {"ram","shyam","hari","sita","gita","laksman","araniko"}
b = {"budha","janak","araniko","ram","sita"}

print("both in a and b= ",a.intersection(b))
print("only in a",a - b)
print("only ib b",b-a)
print("all",a.union(b))
print("not in any", u - a.union(b))

both in a and b=  {'araniko', 'sita', 'ram'}
only in a {'laksman', 'hari', 'shyam', 'gita'}
only ib b {'janak', 'budha'}
all {'laksman', 'sita', 'budha', 'shyam', 'gita', 'araniko', 'janak', 'hari', 'ram'}
not in any {'janka', 'balram', 'krishna'}