In [ ]:
#file 
#file = open(<"file_name>","<mode>")
#file.close()

#with open("<file_name>","<mode>")as files:
#    <operation>

#modes
#create -> 'x'
#read -> 'r'
#wrilte ->'w'
#append->'a'

In [14]:
try:
    file = open('data.txt','x')
    file.close
except:
    print("file already exist")

file already exist

In [8]:
print()

In [10]:
file = open('data.txt','r')
d = file.read()
print(d)
file.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
6. Hello World
7. Hello World

In [12]:
print(type(d))

<class 'str'>

In [22]:
try:
    d = d.split('\n')
    print(d)
except:
    print("no")

no

In [36]:
bill = str()
n = int(input("How many product"))
for i in range(n):
    x = str(input("enter the product name= "))
    y = float(input("enter the price= " ))
    z = int(input("enter quantity"))
    total = y * z
    bill = bill + f"{x},{y},{z},{total}\n"
    
print(bill)
file = open('bill.csv','w')
file.write('Product,Price,Quantity,Total\n')
file.write(bill)
file.close()

How many product2
enter the product name= apple
enter the price= 219
enter quantity4
enter the product name= ball
enter the price= 3200
enter quantity1
apple,219.0,4,876.0
ball,3200.0,1,3200.0

In [45]:
bill = str()
n = int(input("How many product"))
for i in range(n):
    x = str(input("enter the product name= "))
    y = float(input("enter the price= " ))
    z = int(input("enter quantity"))
    total = y * z
    bill = bill + f"{x},{y},{z},{total}\n"
    
print(bill)
file = open('bill1.csv','a')
file.write('Product,Price,Quantity,Total\n')

import pandas as pd
df = pd.read_csv('bill1.csv')
df

How many product2
enter the product name= coke
enter the price= 123
enter quantity2
enter the product name= faanta
enter the price= 123
enter quantity4
coke,123.0,2,246.0
faanta,123.0,4,492.0

NameError: name 'bill1' is not defined

In [46]:
import pandas as pd
df = pd.read_csv('bill1.csv')
df

    Product  Price  Quantity  Total
0     pepsi  290.0         2  580.0
1  mirindaa  280.0         3  840.0

In [38]:
bill = str()
n = int(input("How many product"))
for i in range(n):
    x = str(input("enter the product name= "))
    y = float(input("enter the price= " ))
    z = int(input("enter quantity"))
    total = y * z
    bill = bill + f"{x},{y},{z},{total}\n"
    

file.write(bill)

How many product2
enter the product name= pepsi
enter the price= 290
enter quantity2
enter the product name= mirindaa
enter the price= 280
enter quantity3

43

In [39]:
file.close()

In [43]:
import pandas as pd
df = pd.read_csv(bill1.csv)
df

NameError: name 'bill1' is not defined